
.vsocde

# 多模态
多模态算法工程师/01. pytorch/vgg16_method1.pth
多模态算法工程师/01. pytorch/vgg16_method2.pth
多模态算法工程师/02. transformer/data/training-parallel-nc-v13
多模态算法工程师/02. transformer/tokenizer

**__pycache__/

CLAUDE.md